<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - StackOverflow</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-gray-200">
    <nav class="m-3 p-3 rounded-lg bg-white max-w-sm mx-auto">
        <a href="{{ url_for('index') }}">Overflow</a>
        <a href="{{ url_for('create') }}">Добавити повідомлення</a>
        
    </nav>
    <div class="m-3 p-3 rounded-lg bg-white max-w-sm mx-auto text-md font-bold">
        {% for message in get_flashed_messages() %}
            <div class="text-xl font-bold">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
</body>
</html>
